body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    height: 560px;
    width: 560px;
    margin: 50px;
    background-color: white;
}

button {
    height: 100px;
    width: 200px;
}