<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recognise Digits</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h1 id="result">Result: None Yet!</h1>
    <canvas id="myCanvas">

    </canvas>

    <button onclick="clearCanvas()">Clear</button>
    <button onclick="getResult()">Submit</button>

    <script src="../static/script.js"></script>

    
    
</body>
</html>